@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~sass-rem/_rem.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$blackM: MuliBlack, sans-serif;
$boldM: MuliBold, sans-serif;
$regularM: MuliRegular, sans-serif;

@font-face {
  font-family: MuliBlack;
  src: url("../assets/fonts/Muli-Black.ttf");
}

@font-face {
  font-family: MuliBold;
  src: url("../assets/fonts/Muli-Bold.ttf");
}

@font-face {
  font-family: MuliRegular;
  src: url("../assets/fonts/Muli-Regular.ttf");
}

input:focus, button:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

header {
  background-color: $dark;
  padding: rem(20px 50px);
  position: relative;
  text-align: center;

  .logo-block {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-family: $blackM;
    font-size: rem(29px);
    color: $blue;
    text-shadow: $text-brd 0 0 2px;
  }
}

.overlay_popup {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $black;
  opacity: 0.7;
  overflow: auto;
}

.popup {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(660px);
  text-align: center;
  border-radius: rem(10px);

  .form-header {
    border-radius: rem(10px 10px 1px 1px);
    background-color: $blue;
    padding: rem(20px 50px);
    text-align: center;
    font-family: $blackM;
    font-size: rem(29px);
    color: $dark;
    text-shadow: $text-brd 0 0 2px;
  }

  form {
    background-color: $white;
    padding: rem(30px 50px);

    .label-block {
      margin-bottom: rem(20px);

      label, input {
        vertical-align: middle;
      }

      label {
        font-family: $regularM;
        font-size: rem(20px);
        color: $dark;
        text-align: right;
      }

      input {
        width: 100%;
        font-family: $regularM;
        font-size: rem(24px);
        color: $dark;
        border-radius: rem(10px);
        border: rem(1px) solid $grey;
        padding: rem(5px 20px);

        &:focus {
          border: rem(1px) solid $grey !important;
        }

        &:disabled {
          border: none;
          background: transparent;
        }
      }
    }

    .button-block {
      text-align: center;

      button {
        background-color: $light-blue;
        color: $white;
        font-size: rem(25px);
        font-family: $regularM;
        padding: rem(5px 50px);
        margin: auto;
        border: none;
        border-radius: rem(20px);
        margin-top: rem(10px);
        position: relative;
      }
    }
  }
}

.hidden {
  display: none !important;
}

bs-datepicker-container {
  z-index: 11111;
  background-color: $white;
  text-align: center;
  border: rem(1px) solid $grey;
}
