@import "~bootstrap/scss/bootstrap.scss";
@import "~sass-rem/_rem.scss";
@import "../../styles/variables";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

@include mat-core();

$blackM: MuliBlack, sans-serif;
$boldM: MuliBold, sans-serif;
$regularM: MuliRegular, sans-serif;

@font-face {
  font-family: MuliBlack;
  src: url("../../assets/fonts/Muli-Black.ttf");
}

@font-face {
  font-family: MuliBold;
  src: url("../../assets/fonts/Muli-Bold.ttf");
}

@font-face {
  font-family: MuliRegular;
  src: url("../../assets/fonts/Muli-Regular.ttf");
}

main {
  padding: rem(20px 50px 100px 50px);

  .filter-block {
    padding: rem(20px 0);

    .filter {
      padding: rem(3px 15px 3px 0);

      span {
        font-family: $regularM;
        font-size: rem(18px);

        &.filter_by {
          color: $grey;
        }

        &.f_class {
          color: $text;
          padding-right: rem(20px);
          border-right: rem(1px) solid $grey;
        }
      }
    }

    .button-block {
      text-align: right;

      button {
        background-color: $light-blue;
        color: $white;
        font-size: rem(16px);
        font-family: $regularM;
        padding: rem(5px 20px);
        margin: auto;
        border: none;
        border-radius: rem(20px);
        margin-top: rem(10px);
        position: relative;
      }
    }
  }

  .table-block {
    width: 100%;
    overflow: hidden;

    table {
      table-layout: fixed;
      width: 100%;

      thead {
        tr {
          padding: rem(10px 0);
          border-bottom: rem(1.5px) solid $grey;
          border-top: rem(1.5px) solid $grey;

          th {
            font-family: $regularM;
            font-size: rem(14px);
            color: $text;
            font-weight: normal;
            padding: rem(0 5px);
            text-align: left;

            .cdk-visually-hidden {
              display: none;
            }

            &.action {
              text-align: center;
            }

            &.email {
              text-align: right;
            }
          }
        }
      }

      tbody {
        tr {
          padding: rem(5px);
          border-bottom: rem(1px) solid $grey;

          td {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: rem(0 5px);
            color: $text;
            font-family: $regularM;
            font-size: rem(16px);

            .actions-block{
              text-align: center;

              img {
                width: rem(30px);
                cursor: pointer;
                margin-left: rem(10px);
              }
            }

            &.email {
              text-align: right;
            }

            &.adress {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            &.occupancy {
              text-align: right;
            }

            &.view {
              text-align: right;
              padding: rem(0 10px);
              color: $blue;
              cursor: pointer;
              text-decoration: underline;
            }

            img {
              width: 100%;
              border-radius: rem(5px);
            }
          }
        }
      }
    }
  }
}
