<header>
  <div class="load-block" *ngIf="showLoader">
    <img src="../../assets/images/close.png" alt="close" class="close-block" (click)="closeFilterLoader()">
    Settings updated and will be applied during next crawling cycle
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="logo-block">USERS</div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="filter-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6 align-item-center">
          <div class="button-block">
            <button (click)="openAddPopup()">Add user</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <table matSort (matSortChange)="sortData($event)">
            <thead>
            <tr class="d-flex align-items-center">
              <th class="col-1 action" mat-sort-header="user_id">ID</th>
              <th class="col-1">Status</th>
              <th class="col-2" mat-sort-header="user_fname">First name</th>
              <th class="col-2" mat-sort-header="user_lname">Last name</th>
              <th class="col-2">Birthday</th>
              <th class="col-2 email">Email</th>
              <th class="col-2 action">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex align-items-center" *ngFor="let item of sortedData">
              <td class="col-1">{{item.user_id}}</td>
              <td class="col-1">{{item.user_status}}</td>
              <td class="col-2">{{item.user_fname}}</td>
              <td class="col-2">{{item.user_lname}}</td>
              <td class="col-2">{{item.user_birthday | date: 'dd-MM-yyyy'}}</td>
              <td class="col-2 email">{{item.user_email}}</td>
              <td class="col-2">
                <div class="actions-block">
                  <img src="../../assets/icons/view.png" alt="view" (click)="getList(item, 'view')">
                  <img src="../../assets/icons/edit.png" alt="edit" (click)="getList(item, 'edit')">
                  <img src="../../assets/icons/delete.png" alt="delete" (click)="delete(item)">
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="overlay_popup" ngClass="{{!viewShow && !editShow && !addShow ? 'hidden':''}}" (click)="closePopup()"></div>
<div class="popup" ngClass="{{!viewShow ? 'hidden':''}}">
  <div class="form-header">{{item.user_fname}} {{item.user_lname}}</div>
  <form>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>User ID</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{item.user_id}}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>First name</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{item.user_fname}}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Last name</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{item.user_lname}}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Birthday</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{item.user_birthday | date: 'dd-MM-yyyy'}}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Email</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{item.user_email}}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Status</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{item.user_status}}">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="popup" ngClass="{{!editShow ? 'hidden':''}}">
  <div class="form-header">{{item.user_fname}} {{item.user_lname}}</div>
  <form (ngSubmit)="saveChanges()">
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>User ID</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{item.user_id}}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>First name</label>
        </div>
        <div class="col-8">
          <input type="text" [(ngModel)]="item.user_fname" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Last name</label>
        </div>
        <div class="col-8">
          <input type="text" [(ngModel)]="item.user_lname" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Birthday</label>
        </div>
        <div class="col-8">
          <input type="text"
                 placeholder="yyyy/mm/dd" name="birthday"
                 class="form-control"
                 bsDatepicker [(ngModel)]="item.user_birthday" id="birthday">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Email</label>
        </div>
        <div class="col-8">
          <input type="email" [(ngModel)]="item.user_email" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Status</label>
        </div>
        <div class="col-8">
          <input type="text" disabled [(ngModel)]="item.user_status" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="button-block">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
<div class="popup" ngClass="{{!addShow ? 'hidden':''}}">
  <div class="form-header">{{item.user_fname}} {{item.user_lname}}</div>
  <form (ngSubmit)="addUser()">
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>User ID</label>
        </div>
        <div class="col-8">
          <input type="text" disabled value="{{newUser.user_id}}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>First name</label>
        </div>
        <div class="col-8">
          <input type="text" [(ngModel)]="newUser.user_fname" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Last name</label>
        </div>
        <div class="col-8">
          <input type="text" [(ngModel)]="newUser.user_lname" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Birthday</label>
        </div>
        <div class="col-8">
          <input type="text"
                 name="new_birthday"
                 class="form-control"
                 bsDatepicker [(ngModel)]="newUser.user_birthday" id="new_birthday">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Email</label>
        </div>
        <div class="col-8">
          <input type="email" [(ngModel)]="newUser.user_email" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="label-block">
      <div class="row align-items-center">
        <div class="col-4">
          <label>Status</label>
        </div>
        <div class="col-8">
          <input type="text" disabled [(ngModel)]="newUser.user_status" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="button-block">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
